header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: black;
  z-index: 200;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left-section {
  margin-left: 25px;
  height: 50px;
  width: 170px;
  margin-right: 55px;
  flex-shrink: 0;
}
.left-section .icon {
  margin-right: 25px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
}
input {
  flex: 1;
  height: 34px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid grey;
  padding-left: 10px;
  font-size: 16px;
  max-width: 500px;
  min-width: 0;
  width: 0;
}
input::placeholder {
  font-size: 16px;
}
.search-button {
  background-color: black;
  border: 1px solid grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -15px;
  height: 37.5px;
  width: 65px;
  background-color: rgb(31, 31, 31);
  z-index: 201;
  cursor: pointer;
}
.search-button:hover {
  background-color: rgb(48, 48, 48);
}
.mic-button {
  background-color: black;
  border: 1px solid grey;
  border-radius: 18px;
  margin-left: -2px;
  height: 37.5px;
  width: 37px;
  margin-left: 15px;
  padding-top: 3px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}
.mic-button:hover {
  background-color: rgb(48, 48, 48);
}
.right-section {
  width: 200px;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}

.create-div {
  color: white;
  border-radius: 20px;
  height: 37.5px;
  width: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(48, 48, 48);
  border: 1px solid rgb(48, 48, 48);
}
.create-div:hover {
  background-color: rgb(68, 68, 68);
}
.bell-button {
  background-color: rgb(12, 12, 12);
  border: 1px solid rgb(12, 12, 12);
  padding-top: 4px;
  padding-right: 12px;
  border-radius: 20px;
  height: 37.5px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  padding-right: 28px;
}

.bell-button:hover {
  background-color: rgb(48, 48, 48);
  border: 1px solid rgb(48, 48, 48);
}

.userpfp {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.userpfp-button {
  padding: 0;
  border: solid;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  width: 70px;
  padding-left: 5px;
  background-color: black;
  z-index: 200;
}
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65px;
}
nav div:hover {
  background-color: rgb(48, 48, 48);
  cursor: pointer;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 12px;
}
nav p {
  margin-top: 3px;
  font-size: 9px;
  color: white;
}
nav .icon {
  height: 26px;
}
