nav {
  position: fixed;
  background-color: rgb(24, 24, 24);
  top: 0;
  bottom: 0;
  left: 0px;
  padding-left: 7px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav:hover {
  width: 190px;
}
.upper-part,
.middle-part,
.lower-part {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
  padding: 5px;
}
.logo {
  width: 100%;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 50px 1fr;
  cursor: pointer;
}
.logo:hover {
  background-color: rgb(62, 61, 61);
  border-radius: 10px;
  transition: 0.15s;
}
svg {
  height: 35px;
  margin: 8px;
}
nav p {
  display: none;

  font-weight: 500;
  font-size: 15px;
  margin: 0;
  text-wrap: unset;
}
nav:hover p {
  display: block;
}

nav img {
  width: 30px;
  border-radius: 15px;
  margin: 8px;
}
