body {
  padding: 0;
  margin: 0;
}

header {
  background-color: lightyellow;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  background-color: lightblue;
}

section {
  background-color: lightpink;
}