p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 200px;
  vertical-align: middle;
}
.comment {
  font-size: 20px;
  color: rgb(131, 128, 128);
  vertical-align: middle;
  margin-left: 10px;
  vertical-align: middle;
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  background-color: rgb(53, 159, 225);
  font-weight: bold;
  border-radius: 18px;
  border: none;
  text-align: center;
  margin-left: 150px;
  vertical-align: middle;
  cursor: pointer;
}
