button {
  background-color: green;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: none;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

button:hover {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 0px;
  margin-left: 0px;
}
