input {
  color: rgb(177, 175, 175);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 200px;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
