p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.model {
  margin-top: 15px;
  font-size: 30px;
  color: black;
  font-family: montserrat;
  font-weight: bold;
}
.extrainfo {
  margin-top: 15px;
  font-size: 15px;
  color: black;
}
